DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nebula_order?schema=public
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=nebula_order_shadow"
SVC_NAME=order-service
PORT=3005
GRPC_PORT=50056
S2S_OUTBOUND_KEYS={"auth-service":{"id":"order-auth-v1","secret":"dev-only-order-to-auth-s2s-key-0000001"},"settings-service":{"id":"order-settings-v1","secret":"dev-only-order-to-settings-s2s-key-00001"},"product-service":{"id":"order-product-v1","secret":"dev-only-order-to-product-s2s-key-000001"}}
S2S_INBOUND_KEYS={}
GATEWAY_INBOUND_KEYS={"gateway":{"current":{"id":"gateway-order-v1","secret":"dev-only-gateway-to-order-s2s-key-0001"}}}
