DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nebula_products?schema=public
SHADOW_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=nebula_products_shadow"
SVC_NAME=product-service
PORT=3003
GRPC_PORT=50053
S2S_OUTBOUND_KEYS={"auth-service":{"id":"product-auth-v1","secret":"dev-only-product-to-auth-s2s-key-000001"},"settings-service":{"id":"product-settings-v1","secret":"dev-only-product-to-settings-s2s-key-0001"},"taxonomy-service":{"id":"product-taxonomy-v1","secret":"dev-only-product-to-taxonomy-s2s-key-0001"}}
S2S_INBOUND_KEYS={"order-service":{"current":{"id":"order-product-v1","secret":"dev-only-order-to-product-s2s-key-000001"}}}
GATEWAY_INBOUND_KEYS={"gateway":{"current":{"id":"gateway-product-v1","secret":"dev-only-gateway-to-product-s2s-key-001"}}}
