GATEWAY_SECRET="superlongrandomkeyhere"
GATEWAY_SECRET_OLD="superlongrandomkeyhere"
SVC_NAME=auth-service
PORT=3001
GRPC_PORT=50052

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=some40letterpassword